<div class="example" fxLayout="row">
  <div fxLayout="column" fxLayoutAlign="start center"> 
    <div>Cold Observables</div>
    <div class="example">
        <stock></stock>
        <stock></stock>
    </div>
  </div>
  <div style="text-align: center;">
      Inter component communication
      <div fxLayout="row">
          <div>
              Using component reference
              <writer [reader]="readerComponent"></writer>
              <reader #readerComponent></reader>
          </div>
          
          <div>
              Using component reference
              <communication></communication>
          </div>
        </div>
      </div>
  </div>
  

<div>
  <async-pipe></async-pipe>
</div>

