.cart {
    line-height: 32px;
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    padding-right: 8px;
}
.cart-image-container img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    outline: none;
}
.total {
    padding-right: 12px;
    font-weight: bolder;
}