<!--The content below is only a placeholder and can be replaced.-->
<div class="app-content" fxLayout="column">
  <div style="text-align:center" fxLayout="row" fxLayoutAlign="start center" class="app-toolbar">
    <img class="logo" src="assets/images/store.png" [routerLink]="['/home']">
    <div fxFlex class="label" [routerLink]="['/home']">
      My Store
    </div>
    <div class="cart">
      <img class="logo" src="assets/images/cart.png" [routerLink]="['/cart']">
      <div class="count">{{storeCartService.productCount}}</div>
    </div>

  </div>
  <div class="greet">Welcome User</div>
  <router-outlet flex></router-outlet>
</div>
